In [1]:
import pandas as pd

# 1. Creating data

+ Two core objects in pandas:
    - DataFrame
    - Series

## 1.1 DataFrame


+ Dạng dữ liệu bảng. Bao gồm một mảng của nhiều mục độc lập, mỗi mục có các giá trị rõ ràng.
    - Các mục có sự tương đồng mô tả cột và hàng

In [2]:
df = pd.DataFrame({'First col': [10, 20], 'Second col': [15, 25]})
df

   First col  Second col
0         10          15
1         20          25

+ Kiểu dữ liệu **dict-list** gán các giá trị cho từng cột thông qua *label*
+ Muốn gán tên thay thế index bằng cách gán list theo thứ tự từ trên xuống dưới các hàng.

   ```
   df = pd.DataFrame({'first_col': [value 1, value 2, value 3]},
                      index=[first_row_label, second_row_label])
   ```

In [3]:
df_index = pd.DataFrame({'Age': [26, 60], 'Live': ['Thanh Xuan', 'Phu Xuyen']},
                        index=['Doan', 'Toan'])
df_index

      Age        Live
Doan   26  Thanh Xuan
Toan   60   Phu Xuyen

## 1.2 Series
+ Một chuỗi của giá trị (tương tự như list).

In [4]:
series_1 = pd.Series([1, 2, 3])
series_1

0    1
1    2
2    3
dtype: int64

+ Series có thể coi như một cột của DataFrame.
+ Ta có thể gán giá trị của các cột bẳng *index*.

In [6]:
series_2 = pd.Series([30, 35, 40], 
                     index=['Sales 2020', 'Sales 2021', 'Sales 2022'],
                     name="Smart phone sale")
series_2

Sales 2020    30
Sales 2021    35
Sales 2022    40
Name: Smart phone sale, dtype: int64

## 1.3 Reading data files

+ Sử dụng:
```
pd.read_csv(index_id=0)
```

# 2. Indexing, Selecting & Assigning

## 2.1 Indexing in pandas

+ Index trong pandas làm việc với 2 mô hình:
    - *iloc*: chọn thông tin dựa trên số thứ tự về vị trí trong data.

    - *loc*:

In [13]:
example_df = pd.DataFrame({'country': ['Italy', 'Portugal', 'France'], 
                           'city': ['Roma', 'Hmmm', 'Paris'],
                           'area': ['eu', 'eu', 'eu']})
example_df

    country   city area
0     Italy   Roma   eu
1  Portugal   Hmmm   eu
2    France  Paris   eu

In [15]:
example_df.iloc[0]

country    Italy
city        Roma
area          eu
Name: 0, dtype: object