# 1. Getting started tutorials
(https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/index.html)

## 1.1 What kind of data does pandas handle ?

In [1]:
import pandas as pd

In [10]:
family_df = pd.DataFrame(
{
    "Name": ["DoanNN", "ToanNN", "Bong"],
    "Age": [26, 61, 6],
    "School": ["BKHN", "Quan su", "Tieu hoc"]
})
#
family_df

     Name  Age    School
0  DoanNN   26      BKHN
1  ToanNN   61   Quan su
2    Bong    6  Tieu hoc

### *Each column* in a DataFrame is a **Series**

In [11]:
family_df["Name"]

0    DoanNN
1    ToanNN
2      Bong
Name: Name, dtype: object

In [12]:
list_columns = ["Name", "Age"]
family_df[list_columns]

     Name  Age
0  DoanNN   26
1  ToanNN   61
2    Bong    6

### Create a **Series** from scratch

In [13]:
ages = pd.Series([4, 50, 30], name='Age')

In [14]:
ages

0     4
1    50
2    30
Name: Age, dtype: int64

## 2. How to read & write tabular data ?